<div class="row">
    <div class="col-12">
        <h1>Eat the Burger</h1>
        <br>
        <img src= "./assets/images/burger.gif">
    </div>
</div>

<div class='row'>
    <div class="col-5  new_burger">
        <ul> 
            {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block }}
            {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="col-2"></div>
    <div class='col-5 eaten_burger'>
        <ul>
            {{#each burgers}}
                {{#if devoured}}
                {{> burgers/devour-block }}
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-12 form_col">
        <form class="burger-form">
    <textarea name='item' id="burger-input"></textarea>
    <br>
    <button type='submit'>Add the Burger</button>
     
</form>
    </div>
</div>