<h1>Eat the Burger</h1>
   <div>
        <ul> 
            {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block }}
            {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div>
        <ul>
            {{#each burgers}}
                {{#if devoured}}
                {{> burgers/devour-block }}
            {{/if}}
            {{/each}}
        </ul>
    </div>
<form class="burger-form">
    <textarea name='item' id="burger-input"></textarea>
    <button type='submit'>Add the Burger</button>
     
</form>

